<div class="terminal">
  <div class="wrapper">
    <div class="start" *ngIf="gameStatus === GameStatus.NOT_STARTED">
      <pre><span class="red">Como jogar</span>: O jogo consiste em perguntas e respostas, para ganhar basta chegar<br />ao final sem perder toda sua <span class="red">vida</span>. Você começa com 5 vidas, para cada resposta<br />errada você perde 1 vida. Boa sorte! </pre>
      <pre>Escolha a dificuldade:</pre>

      <div class="radio-control">
        <input type="radio" id="facil" name="difficulty" />
        <label for="facil">Fácil (15 perguntas)</label>
      </div>

      <div class="radio-control">
        <input type="radio" id="normal" name="difficulty" />
        <label for="normal">Normal (20 perguntas)</label>
      </div>

      <div class="radio-control">
        <input type="radio" id="dificil" name="difficulty" />
        <label for="dificil">Difícil (25 perguntas)</label>
      </div>

      <button class="btn" (click)="start()">Iniciar jogo</button>
    </div>

    <div class="question" *ngIf="gameStatus === GameStatus.STARTED && question">
      <span class="counter"
        >{{ this.question.id }} / {{ this.questions.length }}</span
      >
      <pre>{{ question.question }}</pre>
      <div class="radio-control" *ngFor="let option of question.options">
        <input
          type="radio"
          [id]="option.value"
          name="answer"
          value="{{ option.value }}"
          [(ngModel)]="answer"
        />
        <label [for]="option.value">{{ option.label }}</label>
      </div>

      <button class="btn" (click)="next(question, question.id)">
        Confirmar
      </button>
    </div>

    <div class="game-over" *ngIf="gameStatus === GameStatus.GAME_OVER">
      <pre [style.color]="'#ff1919'" [style.font-size.px]="30">GAME OVER</pre>
      <pre>
                uuuuuuu
            uu$$$$$$$$$$$uu
          uu$$$$$$$$$$$$$$$$$uu
        u$$$$$$$$$$$$$$$$$$$$$u
        u$$$$$$$$$$$$$$$$$$$$$$$u
      u$$$$$$$$$$$$$$$$$$$$$$$$$u
      u$$$$$$$$$$$$$$$$$$$$$$$$$u
      u$$$$$$"   "$$$"   "$$$$$$u
      "$$$$"      u$u       $$$$"
        $$$u       u$u       u$$$
        $$$u      u$$$u      u$$$
        "$$$$uu$$$   $$$uu$$$$"
          "$$$$$$$"   "$$$$$$$"
            u$$$$$$$u$$$$$$$u
            u$"$"$"$"$"$"$u
  uuu        $$u$ $ $ $ $u$$       uuu
u$$$$        $$$$$u$u$u$$$       u$$$$
  $$$$$uu      "$$$$$$$$$"     uu$$$$$$
u$$$$$$$$$$$uu    """""    uuuu$$$$$$$$$$
$$$$"""$$$$$$$$$$uuu   uu$$$$$$$$$"""$$$"
"""      ""$$$$$$$$$$$uu ""$"""
          uuuu ""$$$$$$$$$$uuu
  u$$$uuu$$$$$$$$$uu ""$$$$$$$$$$$uuu$$$
  $$$$$$$$$$""""           ""$$$$$$$$$$$"
  "$$$$$"                      ""$$$$""
    $$$"                         $$$$"
      </pre>
      <button class="btn" (click)="restart()">Jogar novamente</button>
    </div>

    <div class="game-won" *ngIf="gameStatus === GameStatus.GAME_WON">
      <pre [style.color]="'#00FF00'" [style.font-size.px]="30">
VOCÊ VENCEU!</pre
      >
      <pre>
 _______________
|@@@@|     |####|
|@@@@|     |####|
|@@@@|     |####|
\@@@@|     |####/
 \@@@|     |###/
  `@@|_____|##'
       (O)
    .-'''''-.
  .'  * * *  `.
 :  *       *  :
: ~ A R Q I I ~ :
: ~ A W A R D ~ :
 :  *       *  :
  `.  * * *  .'
    `-.....-'
      </pre>
      <button class="btn" (click)="restart()">Jogar novamente</button>
    </div>
  </div>

  <div class="lifes" *ngIf="gameStatus === GameStatus.STARTED">
    <svg
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
      *ngFor="let life of lifes"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
  </div>
</div>
