<div class="terminal">
  <div class="wrapper">
    <div class="start">
      <pre><span class="red">Como jogar</span>: O jogo consiste em perguntas e respostas, para ganhar basta chegar<br />ao final sem perder toda sua <span class="red">vida</span>. Você começa com 5 vidas, para cada resposta errada <br />você perde 1 vida. Boa sorte! </pre>
      <pre>Escolha a dificuldade:</pre>

      <div class="radio-control">
        <input type="radio" id="facil" name="difficulty" />
        <label for="facil">Fácil (20 perguntas)</label>
      </div>

      <div class="radio-control">
        <input type="radio" id="normal" name="difficulty" />
        <label for="normal">Normal (30 perguntas)</label>
      </div>

      <div class="radio-control">
        <input type="radio" id="dificil" name="difficulty" />
        <label for="dificil">Difícil (40 perguntas)</label>
      </div>

      <button class="btn">Iniciar jogo</button>
    </div>
  </div>

  <div class="lifes">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      fill="#cc0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      />
    </svg>
  </div>
</div>
