/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Fira Code", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.btn {
  background: none;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  padding: 3px 10px;
  font-family: "Fira Code", monospace;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}
